:host {
  width: 100%;
}

.tabs {
  display: flex;
}

button {
  box-sizing: border-box;
  padding: 1em;
  font-size: 1.25em;
  outline: none;
  width: 100%;
  border-radius: 0.3125em;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.5);
}

button[data-selected='true'] {
  background-color: var(--primary-color-dark);
  color: white;
  text-shadow: 1px 1px #005588;
}
