<template>
  <div class="form-card">
    <lightning-card>
      <h3 slot="title">Interested in Helping Out?</h3>
      <div slot="footer">
        <lightning-button-group if:false="{haveSubmitted}">
          <lightning-button label="Cancel" onclick="{handleCancel}"></lightning-button>
          <lightning-button variant="brand" label="Submit" onclick="{handleSubmit}"></lightning-button>
        </lightning-button-group>
      </div>
      <div style="margin: 1em" onchange="{handleChange}">
        <template if:true="{showError}">
          <p>
            There was an error submitting your form. Please try again or you can
            submit through an email to {vounteerOrganizerEmail}
          </p>
          <p>Sorry for any inconfinence</p>
        </template>
        <template if:false="{haveSubmitted}">
          <p>Please fill out a few pieces of information!</p>
          <lightning-input label="First Name" data-prop="firstName"></lightning-input>
          <lightning-input label="Last Name" data-prop="lastName"></lightning-input>
          <lightning-input label="Email" type="email" data-prop="email"></lightning-input>
          <lightning-input label="Phone" type="tel" data-prop="phone"></lightning-input>
          <lightning-input label="City" data-prop="city"></lightning-input>
          <lightning-textarea name="details" label="What would you like to help with?" data-prop="details">
          </lightning-textarea>
        </template>
        <template if:true="{haveSubmitted}">
          <p>Thank you for your interest! We will get back to you shortly!</p>
        </template>
      </div>
    </lightning-card>
  </div>
</template>