.flip-card {
  display: inline-block;
  border-radius: 0.3125em;
  width: 12em;
  height: 23em;
  perspective: 1000px;
}

@media (min-width: 800px) {
  .flip-card {
    width: 14em;
  }
}

@media (min-width: 1024px) {
  .flip-card {
    width: 16em;
    height: 24em;
  }
}

img {
  border-radius: 0.25em 0.25em 0 0;
  object-fit: cover;
  height: 14em;
  width: 100%;
}

@media (min-width: 1024px) {
  img {
    height: 16em;
  }
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: pre-line;
  backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  border: 1px solid #f1f1f1;
  box-shadow: 0.1875em 0.3125em 0.625em #aaa;
  border-radius: 0.3125em;
}

.flip-card-front {
  background-color: rgb(241, 241, 241);
  color: black;
}

.flip-card-back {
  background-color: var(--primary-color-dark);
  color: white;
  transform: rotateY(180deg);
}

.content {
  padding: 0.5em;
}

.organizer {
  font-size: 1.5em;
  padding-bottom: 0.5em;
}

.responsibilities {
  height: calc(100% - 8em);
  overflow: auto;
}

.links {
  width: 100%;
  height: 4em;
  background-color: rgb(241, 241, 241);
  position: absolute;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
