.container {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-width: 50em;
  margin: auto;
  position: relative;
  font-size: 1em;
}

.title {
  max-width: 80%;
  margin-top: 2em;
}

.speakers {
  display: flex;
}

.speaker {
  display: flex;
  align-items: center;
  margin: 0.1em;
}

.speaker-names {
  font-weight: 400;
  font-size: 1.5em;
  font-style: italic;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  background: #2c40491a;
  padding: 0.5em;
  border-radius: 0.5em;
  box-shadow: 3px 3px 16px 1px rgba(0, 0, 0, 0.5);
  margin-bottom: 2em;
  text-shadow: 1px 1px #e8e8e8bd;
}

cmp-speaker-img-card {
  width: 13em;
}

h1 {
  text-shadow: 1px 0.125em #00000026;
}

table {
  padding: 2em 0;
}

th {
  padding-right: 2em;
  text-align: right;
}

td {
  text-decoration: underline;
  cursor: pointer;
}

img {
  box-sizing: border-box;
  width: 5em;
  height: 7em;
  object-fit: cover;
  border-radius: 5px;
  margin-right: 1em;
  border: white 1px solid;
}

.info {
  box-sizing: border-box;
  margin: auto;
  padding: 0 2em;
  max-width: 100vw;
}

.audience > span {
  padding-right: 0.5em;
}

.audience > span:not(:last-child)::after {
  content: ',';
}

@media only screen and (max-width: 500px) {
  img {
    box-sizing: border-box;
    width: 4em;
    height: 5em;
    object-fit: cover;
    border-radius: 5px;
    border: white 1px solid;
    margin: 0 0.25em;
  }

  .info {
    padding: 0 0.5em;
  }

  .speaker-names {
    font-size: 1.25em;
  }
}
