/*! Flickity v2.2.1
https://flickity.metafizzy.co
---------------------------------------------- */
.flickity-enabled {
  position: relative;
}
.flickity-enabled:focus {
  outline: 0;
}
.flickity-viewport {
  overflow: hidden;
  position: relative;
  height: 100%;
}
.flickity-slider {
  position: absolute;
  width: 100%;
  height: 100%;
}
.flickity-enabled.is-draggable {
  -webkit-tap-highlight-color: transparent;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.flickity-enabled.is-draggable .flickity-viewport {
  cursor: move;
  cursor: -webkit-grab;
  cursor: grab;
}
.flickity-enabled.is-draggable .flickity-viewport.is-pointer-down {
  cursor: -webkit-grabbing;
  cursor: grabbing;
}
.flickity-button {
  position: absolute;
  background: hsla(0, 0%, 100%, 0.75);
  border: none;
  color: #333;
}
.flickity-button:hover {
  background: #fff;
  cursor: pointer;
}
.flickity-button:focus {
  outline: 0;
  box-shadow: 0 0 0 0.3125rem #19f;
}
.flickity-button:active {
  opacity: 0.6;
}
.flickity-button:disabled {
  opacity: 0.3;
  cursor: auto;
  pointer-events: none;
}
.flickity-button-icon {
  fill: currentColor;
}
.flickity-prev-next-button {
  top: 50%;
  width: 2.75rem;
  height: 2.75rem;
  border-radius: 50%;
  transform: translateY(-50%);
}
.flickity-prev-next-button.previous {
  left: 0.625rem;
}
.flickity-prev-next-button.next {
  right: 0.625rem;
}
.flickity-rtl .flickity-prev-next-button.previous {
  left: auto;
  right: 0.625rem;
}
.flickity-rtl .flickity-prev-next-button.next {
  right: auto;
  left: 0.625rem;
}
.flickity-prev-next-button .flickity-button-icon {
  position: absolute;
  left: 20%;
  top: 20%;
  width: 60%;
  height: 60%;
}
.flickity-page-dots {
  position: absolute;
  width: 100%;
  bottom: -1.5625rem;
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: center;
  line-height: 1;
}
.flickity-rtl .flickity-page-dots {
  direction: rtl;
}
.flickity-page-dots .dot {
  display: inline-block;
  width: 0.625rem;
  height: 0.625rem;
  margin: 0 0.5rem;
  background: #333;
  border-radius: 50%;
  opacity: 0.25;
  cursor: pointer;
}
.flickity-page-dots .dot.is-selected {
  opacity: 1;
}

.main-carousel {
  width: 80%;
  margin: auto;
}

.carousel-cell {
  min-width: 40%;
  height: 4rem;
  margin: 0 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.3125rem;
  font-size: 1.5rem;
  transition: font-size 0.5s;
}

.carousel-cell.is-selected {
  text-decoration: underline;
  color: #0062ff;
  font-size: 1.75rem;
}

/* position outside */
.flickity-prev-next-button.previous {
  left: -2.5rem;
}
.flickity-prev-next-button.next {
  right: -2.5rem;
}

@media screen and (min-width: 480px) {
  .carousel-cell {
    min-width: 20%;
  }
}

@media screen and (max-width: 480px) {
  .flickity-button {
    display: none;
  }

  .carousel-cell.is-selected {
    font-size: 1.25rem;
  }
  .carousel-cell {
    min-width: 25%;
    font-size: 1rem;
  }
}
