.base {
  min-height: 2.5em;
  min-width: 6em;
  outline: none;
  border-radius: 0.1875em;
  border-style: solid;
  border-width: 1px;

  color: white;
  background-color: var(--primary-color);
  border-color: white;

  padding: 0 1.5em;
  font-size: 1em;
}
.base:hover {
  background-color: var(--primary-color-dark);
}

.large {
  min-height: 3em;
  min-width: 10em;
  font-size: 1.25em;
}

.small {
  min-height: 2em;
  min-width: 4em;
  font-size: 0.75em;
}

.background-white {
  color: var(--primary-color, rgb(71, 71, 71));
  background-color: var(--header-font-color, white);
  border-color: var(--primary-color, rgb(71, 71, 71));
}

.background-white:hover {
  color: var(--primary-color-dark, var(--primary-color, rgb(51, 51, 51)));
  border-color: var(
    --primary-color-dark,
    var(--primary-color, rgb(51, 51, 51))
  );
}

.shadow {
  box-shadow: 0 0.3125em 0.625em 0 rgba(51, 51, 51, 0.1);
}
.shadow:hover {
  box-shadow: 0 0.1875em 0.375em 0 rgba(0, 0, 0, 0.2);
}
.shadow:active {
  box-shadow: 0 1px 0.1875em 0 rgba(0, 0, 0, 0.4);
}
