<template>
  <div class="dreamin-page">
    <h1>Schedule</h1>

    <base-address>
      <div slot="label">
        Utah Cultural Celebration Center
      </div>
      <div slot="address">
        1355 West 3100 South West Valley City, UT 84119
      </div>
    </base-address>
    <base-address>
      <div slot="label">
        Solitude
      </div>
      <div slot="address">
        12000 Big Cottonwood Canyon Rd Solitude, UT 84121
      </div>
    </base-address>
    <base-address>
      <div slot="label">
        Rodizio Grill
      </div>
      <div slot="address">
        600 South 700 East 2nd Floor Salt Lake City, UT 84102
      </div>
    </base-address>

    <div>
      <div>
        8 - 9 Check In & Registration
      </div>
      <div>
        9 - 10 Opening Keynote
      </div>
      <div>
        10 - 12 Breakout Sessions
      </div>
      <div>
        12 - 1 Lunch
      </div>
      <div>
        1 - 5 Breakout Sessions
      </div>
      <div>
        5 - 6 Closing Keynote
      </div>
      <div>
        6 - 7 Networking Mixer
      </div>
    </div>
  </div>
</template>