.flip-card {
  display: inline-block;
  border-radius: 0.3125rem;
  width: 12rem;
  height: 23rem;
  perspective: 1000px;
}

@media (min-width: 800px) {
  .flip-card {
    width: 14rem;
  }
}

@media (min-width: 1024px) {
  .flip-card {
    width: 16rem;
  }
}

img {
  border-radius: 0.25rem 0.25rem 0 0;
  object-fit: cover;
  height: 14rem;
  width: 100%;
}

@media (min-width: 1024px) {
  img {
    height: 16rem;
  }
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  border: 1px solid #f1f1f1;
  box-shadow: 0.1875rem 0.3125rem 0.625rem #aaa;
  border-radius: 0.3125rem;
}

.flip-card-front {
  background-color: rgb(241, 241, 241);
  color: black;
}

.flip-card-back {
  background-color: var(--primary-color);
  color: white;
  transform: rotateY(180deg);
}

.content {
  padding: 0.5rem;
}

.speaker {
  font-size: 1.5rem;
  padding-bottom: 0.5rem;
}

.bio {
  height: 100%;
  max-height: 13.5rem;
  overflow-y: auto;
}

.links {
  width: 100%;
  height: 4rem;
  background-color: rgb(241, 241, 241);
  position: absolute;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
