@import 'styles/page';

iframe {
  height: inherit;
}

h2 {
  font-weight: 500;
  font-size: 2rem;
}

.center {
  margin: auto;
  text-align: center;
}

.vertical-padding-lg {
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.registration-box {
  margin: auto;
  max-width: 65rem;
}

.container {
  height: 18.55rem;
  box-shadow: 0 0.1875rem 1rem 0.25rem hsla(0, 0%, 79%, 0.91);
}

.powered-by-eb {
  text-decoration: none;
  color: #adb0b6;
}

@media screen and (max-width: 841px) {
  .container {
    height: 19.25rem;
  }
}

@media screen and (max-width: 720px) {
  .background-box {
    width: 100%;
  }
}

@media screen and (max-width: 512px) {
  .container {
    height: 23.35rem;
  }
}
