<template>
  <div class="container small-section">
    <h1 class="center">Updated Schedule</h1>
    <div class="absolute-box">
      <base-icon name="new" class="new-icon"></base-icon>
    </div>
    <base-tabs tabs={tabs} active-tab="1" onnavigate={onNavigate}></base-tabs>
    <div class="carousel">
      <div if:true={displayDinner} class="cell">
        <h2>Networking Dinner</h2>
        <div class="time">Wednesday: 6:00 - 8:00pm</div>
        <div class="description">
          Come and spend an evening with fellow Salesforce enthusiasts,
          speakers, sponsors and cool people at Rodizio Grill at Trolley Square.
          Tickets can be purchased separate from your Snowforce entrance ticket.
        </div>
      </div>
      <div if:true={displayConference} class="cell">
        <h2>Conference Day</h2>

        <table style="width:100%">
          <tr>
            <td width="25%"><h3>Check-In</h3></td>
            <td><div class="time">8:00 - 9:00am (60 min)</div></td>
          </tr>
          <tr>
            <td></td>
            <td>
              <div class="description">
                Light breakfast available for those coming with an empty stomach
              </div>
            </td>
          </tr>
          <tr>
            <td><h3>Opening Keynote</h3></td>
            <td><div class="time">9:00 - 9:50am (50 min)</div></td>
          </tr>
          <tr>
            <td><h3>Sessions</h3></td>
            <td><div class="time">10:00 - 10:40am (40 min)</div></td>
          </tr>
          <tr>
            <td><h3>Sessions</h3></td>
            <td><div class="time">10:50 - 11:30am (40 min)</div></td>
          </tr>
          <tr>
            <td><h3>Sessions</h3></td>
            <td><div class="time">11:40am - 12:10pm (30 min)</div></td>
          </tr>
          <tr>
            <td><h3>Lunch Break</h3></td>
            <td><div class="time">12:10 - 1:10pm (60 min)</div></td>
          </tr>
          <tr>
            <td></td>
            <td>
              <div class="description">
                Line up for some of Utah's greatest food trucks
              </div>
            </td>
          </tr>
          <tr>
            <td><h3>Sessions</h3></td>
            <td><div class="time">1:10 - 1:50pa (40 min)</div></td>
          </tr>
          <tr>
            <td><h3>Demo Jam</h3></td>
            <td><div class="time">2:00 - 2:20pm (20 min)</div></td>
          </tr>
          <tr>
            <td><h3>Sessions</h3></td>
            <td><div class="time">2:30 - 3:10pm (40 min)</div></td>
          </tr>
          <tr>
            <td><h3>Sessions</h3></td>
            <td><div class="time">3:20 - 4:00pm (40 min)</div></td>
          </tr>
          <tr>
            <td><h3>Closing Keynote</h3></td>
            <td><div class="time">4:10 - 5:00pm (50 min)</div></td>
          </tr>
          <tr>
            <td><h3>Networking Cocktail Hour</h3></td>
            <td><div class="time">5:00 - 6:00pm</div></td>
          </tr>
        </table>
      </div>
      <div if:true={displaySki} class="cell">
        <h2>Ski Day @ Solitude with Hands On Sessions</h2>
        <div>
          <h3>Ski Day</h3>
          <div class="time">
            8:00am - 4:00pm : Come and spend the day with fellow Salesforce
            enthusiasts, speakers, sponsors and cool people.
          </div>
        </div>
        <div>
          <h3>Sessions</h3>
          <div class="time">
            TBA : The Sessions Continue At The Lodge
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
