:host {
  width: 100%;
  height: 100%;
  position: relative;
}

.menu-icon {
  display: inline-block;
  height: 100%;
}

.menu-icon > div {
  position: absolute;
  pointer-events: none;
  width: 90%;
  height: 11%;
  background-color: white;
  transition: 250ms;
  border-radius: 0.125rem;
  bottom: 0;
  left: 5%;
}

.menu-icon.change > div {
  margin-bottom: 40%;
}

.bar1 {
  margin-bottom: 65%;
}

.bar2 {
  margin-bottom: 40%;
}

.bar3 {
  margin-bottom: 15%;
}

.change .bar1 {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.change .bar2 {
  opacity: 0;
}

.change .bar3 {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
