iframe {
  height: inherit;
}

h2 {
  font-weight: 500;
  font-size: 2em;
}

.center {
  margin: auto;
  text-align: center;
}

.vertical-padding-lg {
  padding-top: 4em;
  padding-bottom: 4em;
}

.registration-box {
  margin: auto;
  max-width: 65em;
}

.container {
  height: 18.55em;
  box-shadow: 0 0.1875em 1em 0.25em hsla(0, 0%, 79%, 0.91);
}

.powered-by-eb {
  text-decoration: none;
  color: #adb0b6;
}

@media screen and (max-width: 841px) {
  .container {
    height: 19.25em;
  }
}

@media screen and (max-width: 720px) {
  .background-box {
    width: 100%;
  }
}

@media screen and (max-width: 512px) {
  .container {
    height: 23.35em;
  }
}
