@import 'styles/page';

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 4em;
}

.logo {
  width: 75vw;
  max-width: 60em;
}

.about-us {
  max-width: 50em;
  padding-top: 2em;
}

@media only screen and (max-width: 500px) {
  .container {
    margin: 1em;
  }
  .about-us {
    padding-top: 0.5em;
  }
}
