@import 'styles/page';

.container {
  box-sizing: border-box;
  position: relative;
  display: flex;
  flex-direction: column;
  max-width: 1200px;
  margin: auto;
  padding: 2em;
}

base-tabs {
  position: sticky;
  top: 56px;
}

cmp-sessions {
  flex-grow: 2;
}

.p-left-s {
  padding-left: 0.5em;
}

@media screen and (max-width: 480px) {
  .container {
    padding: 0;
  }
}
