@import 'styles/page'

h1 {
  margin-block-start: 0;
}

img {
  width: 100%;
}

.center {
  margin: auto;
  text-align: center;
}

.sponsors {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding-top: 1em;
  padding-bottom: 1em;
}

.row {
  width: 100%;
  max-width: 70em;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.platinum {
  width: 100%;
  max-width: 60em;
  margin: 2em;
}

.gold {
  width: 40%;
  max-width: 35em;
  margin: 1em;
}

.silver {
  width: 25%;
  max-width: 15em;
  margin: 0.5em;
}

@media only screen and (min-width: 800px) {
  h1 {
    font-size: 3em;
  }
}

@media only screen and (max-width: 500px) {
  .platinum {
    margin: 2em 0;
  }
  .gold {
    margin: 1em 0.5em;
  }

  .silver {
    margin: 0.5em 0.25em;
  }
}
