@import 'styles/page';

.container {
  text-align: left;
}

.small-section {
  max-width: 70em;
  margin: auto;
  position: relative;
  padding: 1em;

  border-radius: 0.5em;
  margin-bottom: 2em;
  box-shadow: 0 0.1875em 1em 0.25em rgba(201, 201, 201, 0.91);
}

.center {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.absolute-box {
  position: absolute;
  right: 5%;
  top: 5.5em;
  z-index: 1;
}

.new-icon {
  width: 2.5em;
  transform: rotate(-45deg);
}

base-tabs {
  position: relative;
  top: 0;
  margin: auto;
  max-width: 70em;
  width: 100%;
  cursor: pointer;
}

h2 {
  margin-block-start: 0.5em;
  margin-block-end: 0.5em;
}

.cell > div {
  margin-left: 1em;
}

.carousel {
  box-sizing: border-box;
  display: flex;
  width: 80%;
  max-width: 60em;
  margin: auto;
  padding: 2em 0;
  min-height: 20em;
}

.time {
  padding: 0 2em;
  font-style: italic;
}

.description {
  font-size: 1.15em;
  margin-block-start: 0.5em;
  margin-block-end: 0.5em;
  line-height: 1.5;
}

table h3,
table td,
table div {
  margin: 0;
  padding: 0;
}

table .description {
  font-size: 0.95em;
  margin-block-start: 0;
}
