<template>
  <div class="contrast-background">
    <base-snow></base-snow>
    <base-banner
      img="https://snowforce.s3-us-west-1.amazonaws.com/event-images/2020/SnowforceLogo_Banner.png"
    >
    </base-banner>
    <div class="background-box center">
      <div class="margin-bottom-l">
        <view-register></view-register>
      </div>
      <div class="margin-bottom-l">
        <view-sponsors></view-sponsors>
      </div>
      <div class="padding-bottom-s">
        <view-events class="small-section"></view-events>
      </div>
    </div>
    <base-section
      img="https://snowforce.s3-us-west-1.amazonaws.com/background-images/moutaintops-clouds.jpg"
      background-position="center"
    >
      <div class="padding-vertical-lg">
        <h2 class="center">
          The Main Event Is At The Utah Cultural Celebration Center
        </h2>
        <view-venue></view-venue>
      </div>
    </base-section>
    <div class="padding-bottom-s">
      <div class="background-box center">
        <view-speakers></view-speakers>
      </div>
    </div>
    <view-past-events></view-past-events>
  </div>
</template>
