<template>
  <base-snow></base-snow>
  <base-section
    img="https://snowforce.s3-us-west-1.amazonaws.com/background-images/moutaintops-clouds.jpg"
    background-position="center"
  >
    <div class="speaker-cloud">
      <h1 class="text-shadow">Learn. Ski. Experience.</h1>
    </div>
  </base-section>
  <div class="vertical-padding">
    <div class="background-white registration-box">
      <h2 class="center">Registration Is Open!</h2>
      <view-register></view-register>
    </div>
  </div>
  <div class="background-white vertical-padding">
    <view-sponsors></view-sponsors>
  </div>
  <base-section
    img="https://snowforce.s3-us-west-1.amazonaws.com/background-images/mountain-in-clouds.jpg"
    background-position="center"
  >
    <div class="vertical-padding-lg speaker-cloud center">
      <h2 class="announcement-block">
        Getting Ready To Kick Off Snowforce Again!
      </h2>
      <h2 class="save-the-date">
        Save The Date!!
      </h2>
      <h2 class="announcement-block">
        Feb 26-28, 2020
      </h2>
    </div>
  </base-section>
  <view-events class="small-section"></view-events>
  <div class="vertical-padding-lg">
    <h2 class="center">
      The Main Event Is At The Utah Cultural Celebration Center
    </h2>
    <view-venue></view-venue>
  </div>
  <view-speakers></view-speakers>
  <view-past-events></view-past-events>
</template>
