h1 {
  font-weight: 500;
  font-size: 6vw;
  text-align: center;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 1rem;
  margin-inline-end: 1rem;
}

.text-shadow {
  text-shadow: 1px 1px #698bce;
}

h2 {
  font-weight: 500;
  font-size: 2rem;
}

.center {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.speaker-container {
  display: flex;
  flex-direction: column;
}

.background-white {
  background-color: white;
}

.vertical-padding {
  padding-bottom: 2rem;
}

.padding-vertical-lg {
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.registration-box {
  margin: auto;
  max-width: 65rem;
}

.announcement-block {
  font-weight: 700;
}

.save-the-date {
  padding-top: 1rem;
}

.contrast-background {
  background-color: var(--contrast-color-light);
}

.margin-bottom-l {
  margin-bottom: 5rem;
}

.margin-bottom-m {
  margin-bottom: 3rem;
}

.padding-bottom-l {
  padding-bottom: 5rem;
}

.padding-bottom-m {
  padding-bottom: 3rem;
}

.padding-bottom-s {
  padding-bottom: 1rem;
}

.background-box {
  box-sizing: border-box;
  background-color: white;
  max-width: 81rem;
  width: 95%;
  border-radius: 5px;
  margin: 3rem auto;
}

@media screen and (max-width: 800px) {
  .background-box {
    padding: 1rem;
  }
}

@media screen and (max-width: 720px) {
  .background-box {
    width: 100%;
  }
}

@media screen and (max-width: 480px) {
  h1 {
    font-size: 2em;
  }
  .background-box {
    padding: 0;
  }
}

@media screen and (min-width: 1250px) {
  .padding-bottom-desktop {
    padding-bottom: 1rem;
  }
}
