<template>
  <div class="contrast-background">
    <base-snow></base-snow>
    <base-banner
      img="https://snowforce.s3-us-west-1.amazonaws.com/event-images/2020/SnowforceLogo_Banner.png"
    >
    </base-banner>
    <div class="background-box center">
      <view-register></view-register>
      <base-section background-position="center">
        <div>
          <view-sponsors></view-sponsors>
        </div>
      </base-section>
      <div class="vertical-padding-lg">
        <view-events class="small-section"></view-events>
      </div>

      <div class="vertical-padding-lg">
        <h2 class="center">
          The Main Event Is At The Utah Cultural Celebration Center
        </h2>
        <view-venue></view-venue>
      </div>
      <base-section background-position="center">
        <view-speakers></view-speakers>
      </base-section>
    </div>
    <view-past-events></view-past-events>
  </div>
</template>
