h1 {
  font-weight: 500;
  font-size: 6vw;
  text-align: center;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 1rem;
  margin-inline-end: 1rem;
}

.text-shadow {
  text-shadow: 1px 1px #698bce;
}

h2 {
  font-weight: 500;
  font-size: 2rem;
}

.center {
  margin: auto;
  text-align: center;
}

.speaker-container {
  display: flex;
  flex-direction: column;
}

.speaker-cloud {
  border-radius: 1rem;
  width: fit-content;
  margin: auto;
  background: rgba(255, 255, 255, 0.7);
  box-shadow: 0 0.5rem 10rem 9rem rgba(255, 255, 255, 0.7);
}

.background-white {
  background-color: white;
}

.vertical-padding {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.vertical-padding-lg {
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.registration-box {
  margin: auto;
  max-width: 65rem;
}

.announcement-block {
  font-weight: 700;
}

.save-the-date {
  padding-top: 1rem;
}

.sponsor-grey-box {
  box-sizing: border-box;
  background-color: #efeded80;
  padding: 3rem;
  max-width: 75rem;
  width: 95%;
  min-height: 50rem;
  border-radius: 5px;
}

@media screen and (max-width: 480px) {
  h1 {
    font-size: 2em;
  }
}
