h1 {
  font-weight: 500;
  font-size: 6vw;
  text-align: center;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 1em;
  margin-inline-end: 1em;
}

.text-shadow {
  text-shadow: 1px 1px #698bce;
}

h2 {
  font-weight: 500;
  font-size: 2em;
}

.center {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.speaker-container {
  display: flex;
  flex-direction: column;
}

.background-white {
  background-color: white;
}

.vertical-padding {
  padding-bottom: 2em;
}

.padding-vertical-lg {
  padding-top: 4em;
  padding-bottom: 4em;
}

.registration-box {
  margin: auto;
  max-width: 65em;
}

.keynotes {
  margin-bottom: 7em;
}

.announcement-block {
  font-weight: 700;
}

.save-the-date {
  padding-top: 1em;
}

.contrast-background {
  background-color: var(--contrast-color-light);
}

.margin-bottom-l {
  margin-bottom: 5em;
}

.margin-bottom-m {
  margin-bottom: 3em;
}

.padding-bottom-l {
  padding-bottom: 5em;
}

.padding-bottom-m {
  padding-bottom: 3em;
}

.padding-bottom-s {
  padding-bottom: 1em;
}

.background-box {
  box-sizing: border-box;
  background-color: white;
  max-width: 81em;
  width: 95%;
  border-radius: 5px;
  margin: 3em auto;
  box-shadow: 0 0.1875em 1em 0.25em hsla(0, 0%, 79%, 0.91);
}

@media screen and (max-width: 800px) {
  .background-box {
    padding: 1em;
  }
}

@media screen and (max-width: 720px) {
  .background-box {
    width: 100%;
  }
}

@media screen and (max-width: 480px) {
  h1 {
    font-size: 2em;
  }
  .background-box {
    padding: 0;
    margin: 0;
  }

  .padding-vertical-lg {
    padding-top: 2em;
    padding-bottom: 2em;
  }

  .vertical-padding {
    padding-bottom: 1em;
  }
}

@media screen and (min-width: 1250px) {
  .padding-bottom-desktop {
    padding-bottom: 1em;
  }
}
