.container {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  max-width: 50rem;
  margin: auto;
}

.sessions {
  padding-top: 1rem;
}

.session {
  text-decoration: underline;
  font-weight: 300;
  font-size: 1.1rem;
}

.speaker-info {
  display: flex;
  align-items: center;
}

.speaker-img {
  max-width: 20.5rem;
}

.speaker-content {
  max-width: 75%;
  padding: 1rem 0;
}

@media only screen and (max-width: 600px) {
  .container {
    flex-direction: column;
  }

  .speaker-content {
    max-width: 80%;
    margin: auto;
  }
}

@media only screen and (max-width: 480px) {
  .speaker-info {
    flex-direction: column;
  }
  .speaker-name {
    margin: 1em;
  }
}
