.backgroundImg {
  background-repeat: no-repeat;
  background-size: contain;
}

.container {
  max-width: 1600px;
  width: 100vw;
  margin: auto;
}

.section {
  height: 50vw;
  max-height: 800px;
  margin: auto;
}

/* Targets IOS Safari */
@supports (-webkit-overflow-scrolling: touch) {
  .backgroundImg {
    background-attachment: scroll;
  }
}