.container {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  max-width: 50em;
  margin: 2em auto;
}

.sessions {
  padding-top: 1em;
}

.session {
  text-decoration: underline;
  font-weight: 300;
  font-size: 1.1em;
}

.speaker-info {
  display: flex;
  align-items: center;
}

.speaker-img {
  max-width: 20.5em;
  width: 100%;
}

.speaker-content {
  max-width: 75%;
  padding: 0 2em;
}

@media only screen and (max-width: 600px) {
  .container {
    flex-direction: column;
  }

  .speaker-content {
    max-width: 100%;
    padding: 0 1.5em;
  }
}

@media only screen and (max-width: 480px) {
  .speaker-info {
    flex-direction: column;
  }
  .speaker-name {
    margin: 1em;
  }
  .speaker-content {
    padding: 0 1em;
  }
}
