<template>
  <div class="dreamin-page">
    <div class="cmp-image-grid">
      <div class="row">
        <div class="column">
          <img src="https://snowforce.s3-us-west-1.amazonaws.com/event-images/sponsors.jpg" alt="Sponsor Board" />
          <img src="https://snowforce.s3-us-west-1.amazonaws.com/event-images/full-session.jpg" alt="Full Session" />
          <img src="https://snowforce.s3-us-west-1.amazonaws.com/event-images/main-hall-prepped.jpg"
            alt="Main Conference Room Prepped" />
          <img src="https://snowforce.s3-us-west-1.amazonaws.com/event-images/opening-keynote.jpg"
            alt="Opening Keynote 2019" />
          <img src="https://snowforce.s3-us-west-1.amazonaws.com/event-images/solitude.jpg" alt="Solitude" />
        </div>
        <div class="column">
          <img src="https://snowforce.s3-us-west-1.amazonaws.com/event-images/wall-opening.jpg"
            alt="Conference Entry with Simplus Sponsor 2019" />
          <img src="https://snowforce.s3-us-west-1.amazonaws.com/event-images/snack-bar.png"
            alt="Snack Bar at the Depot" />
          <img src="https://snowforce.s3-us-west-1.amazonaws.com/event-images/swag-store.jpg" alt="Swag Store" />
          <img src="https://snowforce.s3-us-west-1.amazonaws.com/event-images/simplus.png" alt="Simplus Booth" />
          <img src="https://snowforce.s3-us-west-1.amazonaws.com/event-images/grow-booth.jpg" alt="Grow Expo Booth" />
          <img src="https://snowforce.s3-us-west-1.amazonaws.com/event-images/charity.jpg" alt="Donations Booth" />
        </div>
        <div class="column">
          <img src="https://snowforce.s3-us-west-1.amazonaws.com/event-images/keynote-full.jpg" alt="Keynote Speaker" />
          <img src="https://snowforce.s3-us-west-1.amazonaws.com/event-images/food-trucks.jpg"
            alt="Food Trucks at Lunch" />
          <img src="https://snowforce.s3-us-west-1.amazonaws.com/event-images/lucid.jpg" alt="LucidChart Expo Booth" />
          <img src="https://snowforce.s3-us-west-1.amazonaws.com/event-images/sasquatch.jpg"
            alt="Snowforce Sasquatch" />
          <img src="https://snowforce.s3-us-west-1.amazonaws.com/event-images/simplus-pic.jpg" alt="Simplus Banner" />
          <img src="https://snowforce.s3-us-west-1.amazonaws.com/event-images/matt-keynote.jpg" alt="Matt Keynote" />
        </div>
        <div class="column">
          <img src="https://snowforce.s3-us-west-1.amazonaws.com/event-images/snowshoe.jpg"
            alt="Snowshoe Group on Ski Day" />
          <img src="https://snowforce.s3-us-west-1.amazonaws.com/event-images/keynote-gillian.jpg"
            alt="Gillian Keynote" />
          <img src="https://snowforce.s3-us-west-1.amazonaws.com/event-images/pizza-foodtruck.png"
            alt="Pizza Foodtruck" />
          <img src="https://snowforce.s3-us-west-1.amazonaws.com/event-images/getfeedback-booth.jpg"
            alt="GetFeedback Expo Booth" />
          <img src="https://snowforce.s3-us-west-1.amazonaws.com/event-images/sponsor-wall-angled.jpg"
            alt="Sponsor Wall at an angle" />
        </div>
      </div>
    </div>
  </div>
</template>